*.o
*.lo
*.la
*.a
*.test
*.log
*.so.*

bin/
cweb/
ns-2.34/tcl/test/
gt-itm/
nam-1.14/
sgb/
otcl
otcl-1.13/
dei80211mr-1.1.4/
xgraph-12.1/
zlib-1.2.3/
tclcl
tclcl-1.19/
tcl8.4.18/
share/
ns-2.34/indep-utils/
tk8.4.18/
ns-2.34/common/ptypes2tcl
ns-2.34/gen/
ns-2.34/ns
ns-2.34/nse
ns-2.34/nstk

install
INSTALL.WIN32